push argument 0
push argument 0

if-lt NEGATIVE

pop argument 1
push constant 0
pop argument 2
push constant 0
pop argument 3

label NEGATIVE
push argument 0
push constant 32768
eq
if-goto UNCOMPUTABLE

push argument 0
neg
pop argument 1
push constant 1
pop argument 2
push constant 0
pop argument 3

label UNCOMPUTABLE
push constant 1
pop argument 3
push constant 0
pop argument 1
push constant 1
pop argument 2