push argument 0
pop local 0
push constant 0
pop argument 1
push local 0
push constant 0
gt
if-goto SQUARE
push local 0
beg
pop local 0
label SQUARE
push constant 0
pop local 1
label LOOP
push local 0
push local 1
eq
if-goto END
push constant 1
push local 1
add
pop local 1
push argument 1
push local 0
add
pop argument 1